body {
  background-color: #0020dd !important;
}

.darkborder {
  border: 3px solid #000;

}

.square {
  background: #fff;
  border: 1px solid #001100;
  float: left;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 5px;
  text-align: center;
  width: 64px;
  color: cornflowerblue;
}

button {
  cursor: pointer;
  font-size: 30px;
}
.spacer {
  height:50px;
}

.red {
  background-color: coral;
}
