<div *ngIf="!gameBoardRaw">
	Suduko Server Data not Available
</div>


<div class="container">

	<div class="row justify-content-center">

		<div class="col-1"></div>

		<div class="col-">
			<div class="darkborder float-left">
				<div *ngFor="let item of answers | slice: 0:3; index as i" class="float-left square">{{item}} | {{count}}</div>
				<div class="float-none"></div>
				<div *ngFor="let item of answers | slice: 9:12" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
				<div *ngFor="let item of answers | slice: 18:21" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
			</div>

			<div class="darkborder float-left">
				<div *ngFor="let item of answers | slice: 3:6" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
				<div *ngFor="let item of answers | slice: 12:15" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
				<div *ngFor="let item of answers | slice: 21:24" class="float-left square">{{item}}</div>
				<div class="float-none "></div>

			</div>

			<div class="darkborder float-left">
				<div *ngFor="let item of answers | slice: 6:9" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
				<div *ngFor="let item of answers | slice: 15:18" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
				<div *ngFor="let item of answers | slice: 24:27" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
			</div>

			<div class="float-none"></div>

			<div class="darkborder float-left">
				<div *ngFor="let item of answers | slice: 27:30" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
				<div *ngFor="let item of answers | slice: 36:39" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
				<div *ngFor="let item of answers | slice: 45:48" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
			</div>

			<div class="darkborder float-left">


				<div *ngFor="let item of answers | slice: 30:33" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
				<div *ngFor="let item of answers | slice: 39:42" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
				<div *ngFor="let item of answers | slice: 48:51" class="float-left square">{{item}}</div>
				<div class="float-none"></div>

			</div>

			<div class="darkborder float-left">
				<div *ngFor="let item of answers | slice: 33:36" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
				<div *ngFor="let item of answers | slice: 42:45" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
				<div *ngFor="let item of answers | slice: 51:54" class="float-left square">{{item}}</div>
				<div class="float-none"></div>

			</div>


			<div class="float-none"></div>

			<div class="darkborder float-left">
				<div *ngFor="let item of answers | slice: 54:57" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
				<div *ngFor="let item of answers | slice: 63:66" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
				<div *ngFor="let item of answers | slice: 72:75" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
			</div>

			<div class="darkborder float-left">
				<div *ngFor="let item of answers | slice: 57:60" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
				<div *ngFor="let item of answers | slice: 66:69" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
				<div *ngFor="let item of answers | slice: 75:78" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
			</div>

			<div class="darkborder float-left">
				<div *ngFor="let item of answers | slice: 60:63; index as i" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
				<div *ngFor="let item of answers | slice: 69:72" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
				<div *ngFor="let item of answers | slice: 78:81" class="float-left square">{{item}}</div>
				<div class="float-none"></div>
			</div>


		</div>
		<div class="col-1"></div>

	</div>

	<div class="row">
		<div class="col-* spacer"></div>
	</div>

	<div class="row justify-content-center">

		<div class="col-*">
			<button (click)="getChangeAnswer()" class="btn-info">Reload</button>
		</div>


	</div>
</div>
